.recipeListItem {
    padding: 20px 5px;
    margin-bottom: 20px;
    border-radius: .5rem;
    border: 1px solid #a9adac;
    transition: all 1s ease-in-out;
    background: #fcfcfc;
}

.ingredients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.recipeListItem h2 {
    margin-bottom: 15px;
}

.seperator {
    padding: 0 5px;
}